@model DsiVendas.Models.Cliente

<h1 class="my-4">Cadastrar Cliente</h1>

<form asp-action="Criar" method="post" class="needs-validation" novalidate>
  <div class="form-group w-50">
    <label class="form-label">Nome Completo</label>
    <input asp-for="Nome" class="form-control" required />
  </div>
  <div class="form-group w-50 mb-3">
    <label class="form-label">Email</label>
    <input asp-for="Email" class="form-control" type="email" required />
  </div>
  <div class="form-group w-50 mb-3">
    <label class="form-label">Endereço</label>
    <input asp-for="Endereco" class="form-control" type="email" required />
  </div>
  <div class="form-group w-50 mb-3">
    <label class="form-label">Telefone</label>
    <input asp-for="Telefone" class="form-control" type="email" required />
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
  <a asp-action="Index" class="btn btn-secondary ml-2">Voltar</a>
</form>
