@model DsiVendas.Models.Venda

<h1 class="my-4">Editar Venda</h1>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" /> <!-- Campo oculto para o Id da venda -->

    <div class="form-group">
        <label asp-for="Cliente" class="control-label">Cliente</label>
        <select asp-for="Cliente" class="form-control" asp-items="ViewBag.Clientes"></select>
    </div>

    <div class="form-group">
        <label asp-for="ValorTotal" class="control-label">ValorTotal</label>
        <input asp-for="ValorTotal" class="form-control" readonly />
        <span asp-validation-for="ValorTotal" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataVenda" class="control-label">Data da Venda</label>
        <input asp-for="DataVenda" class="form-control" type="date" />
        <span asp-validation-for="DataVenda" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FormaPagamento" class="control-label">Forma De Pagamento</label>
        <select asp-for="FormaPagamento" asp-items="ViewBag.FormaPagamento" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary ml-2">Voltar</a>
</form>